* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    min-width: 360px;
    background-color: #26282B;
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 0;
    margin: 20px 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px black;
    border-radius: 10px;
    margin: 20px 5px;
}

::-webkit-scrollbar-thumb {
    background: #26282B;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #26282B;
}

:root {
    --main-dark-gray: #26282B;
    --main-text-light-gray: #eaeaea;
    --main-text-gray: #c1c1c1;
    --gray: #393D40;
    --header-search-gray: #4f4f4f;
    --light-gray: #858585;
    --color-href: rgb(57, 162, 227);
    --color-href-outline: rgb(157, 201, 229);
}

.header {
    height: 80px;
    background-color: var(--gray);
    width: 100%;
    display: flex;
    align-items: center;
}

.header .container {
    left: -110px;
    gap: 24px;
    position: relative;
}

.container {
    width: 100%;
    max-width: 914px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.header-search {
    max-width: 640px;
    width: 100%;
    align-items: center;
    height: 52px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
}

.header-search-inner {
    width: 100%;
    align-items: center;
    background-color: var(--main-dark-gray);
    border-radius: 10px;
    padding-left: 11px;
    height: 52px;
    display: flex;
}

.header-search-inner:hover {
    outline: 2px solid var(--light-gray);
}

.header-down {
    display: none;
}

.svg {
    display: block;
    color: var(--header-search-gray);
    width: 25px;
    height: 25px;
    line-height: 52px;
    fill: currentColor;
    transition: all .3s ease;
    user-select: none;
}

.svg:hover {
    transform: scale(1.3);
    transition-duration: 300ms;
}

#search-input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 20px 0 10px;
    background-color: transparent;
    color: white;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 20px;
}

#search-input::placeholder {
    font-size: 20px;
    color: var(--light-gray);
}

#search-input-small {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0 20px 0 10px;
    background-color: transparent;
    color: white;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 20px;
}

.header-right {
    display: flex;
    height: 52px;
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
    right: -300px;
    gap: 15px;
}

.header-right-search {
    align-items: center;
    height: 52px;
    background-color: transparent;
    display: none;
}

button {
    font-family: inherit;
    font-size: 20px;
    user-select: none;
}

.btn-auth {
    background-color: var(--main-dark-gray);
    color: var(--main-text-light-gray);
    width: auto;
    height: 52px;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    cursor: pointer;
}

.btn-language {
    background-color: var(--main-dark-gray);
    color: var(--main-text-light-gray);
    width: auto;
    height: 52px;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    cursor: pointer;
}

.btn-language:hover .header-right-languages {
    outline: 2px solid var(--light-gray);
}

.header-right-languages {
    position: relative;
}

.header-right-languages:hover .clear-fix {
    height: 35px;
    width: 220px;
    position: absolute;
}


.language {
    min-height: 52px;
    max-height: 475px;
    position: absolute;
    background-color: var(--gray);
    border-radius: 0 20px 20px 20px;
    transition: all .3s ease-in;
    width: 220px;
    padding: 10px;
    outline: 1px solid var(--light-gray);
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    margin-top: 15px;
}

.language::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

li {
    padding-left: 25px;
    padding-top: 15px;
    height: 52px;
    width: 200px;
    border-radius: 15px;
    background-color: var(--main-dark-gray);
    color: var(--main-text-light-gray);
}

li + li {
    margin-top: 10px;
}

.language li {
    list-style-type: none;
}

.language li a {
    text-decoration: none;
    font-size: 20px;
    color: var(--main-text-light-gray);
}

.account {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: var(--light-gray);
    border: none;
    cursor: pointer;
}

.header-left {
    min-width: 220px;
    height: 52px;
    display: flex;
    justify-content: start;
    line-height: 52px;
}

.logo {
    user-select: none;
    font-weight: 500;
    font-size: 25px;
    color: var(--main-text-light-gray);
    text-decoration: none;
}

.main {
    height: 100%;
}

.main .container {
    padding-top: 25px;
    left: -110px;
    gap: 24px;
    position: relative;
}

.sidebar {
    background-color: var(--main-dark-gray);
    max-height: 900px;
    width: 220px;
}

.sidebar-btn {
    display: block;
    line-height: 46px;
    width: 220px;
    border-radius: 10px;
    font-size: 18px;
    color: var(--main-text-light-gray);
    background-color: var(--gray);
    padding-left: 12px;
    text-align: start;
    user-select: none;
    cursor: pointer;
}

.sidebar-btn:hover {
    outline: 2px solid var(--light-gray);
}

.sidebar-btn + .sidebar-btn {
    margin-top: 15px;
}

.header-left-inner {
    display: none;
}

.content {
    width: 640px;
    height: 100%;
    z-index: -1;
}

.news-feed {
    background-color: var(--gray);
    width: 640px;
    max-height: 550px;
    border-radius: 10px;
    padding: 15px;
}

.news-feed + .news-feed {
    margin-top: 15px;
}

.content-title {
    font-size: 21px;
    font-weight: 700;
    color: var(--main-text-light-gray);
}

.content-description {
    font-weight: 300;
    font-size: 18px;
    color: var(--main-text-gray);
    margin-top: 15px;
    text-align: justify;
}

#language1 {
    border-radius: 20px 0px 20px 20px;
    right: 0;
}

#language1 li {
    padding-right: 25px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    filter: blur(0);
}

.over-active {
    filter: blur(10px);
    animation: auth-enter .5s ease;
}

.auth-window {
    width: 520px;
    height: 570px;
    background-color: var(--gray);
    border-radius: 12px;
    padding: 20px;
}

.auth-window-header {
    height: 60px;
}

.close-icon {
    float: right;
    cursor: pointer;
}

.auth-window-content {
    display: grid;
    justify-items: center;
    position: relative;

}

.auth-window {
    display: none;
    user-select: none;
    animation: auth-enter .5s ease;
    position: relative;

}

.auth-window-active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@keyframes auth-enter {
    from {
        opacity: 0;
        transform: scale(.9);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.auth-window-logo {
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
    width: 65px;
    height: 65px;
    background-color: var(--main-text-light-gray);
    color: var(--gray);
    border-radius: 10px;
}

.text-auth {
    color: var(--main-text-light-gray);
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
}

.authorization {
    margin-top: 20px;
}

.login {
    width: 480px;
    height: 50px;
    border-radius: 10px;
    display: block;
    padding: 0 20px;
    background-color: var(--main-dark-gray);
    color: var(--main-text-light-gray);
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 20px;
}

.password {
    width: 480px;
    height: 50px;
    border-radius: 10px;
    display: block;
    padding: 0 20px;
    background-color: var(--main-dark-gray);
    color: var(--main-text-light-gray);
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 20px;
}

.login::placeholder,
.password::placeholder {
    color: var(--main-text-gray);
}

.login:hover,
.login:active,
.password:hover,
.password:active {
    outline: 2px solid var(--light-gray);
}

input + input {
    margin-top: 20px;
}

.registration {
    margin-top: 20px;
    color: var(--main-text-light-gray);
    font-size: 16px;
    text-align: center;
}

.auth-window-reg {
    color: var(--color-href);
    text-decoration: none;
}

.btn-sigh-in {
    margin-top: 50px;
    background-color: var(--color-href);
    color: var(--main-text-light-gray);
    border-radius: 10px;
    font-size: 22px;
    border: none;
    width: 350px;
    height: 50px;
    cursor: pointer;
}

.btn-sigh-in:hover {
    outline: 2px solid var(--color-href-outline);
}


@media screen and (max-width: 1370px) {
    .header-right-search {
        display: flex;
        gap: 15px;
        z-index: 999;
    }

    .header-right {
        display: none;
    }

    .header .container {
        left: 0;
    }

    .main .container {
        left: 0;
    }

    .header-search-inner {
        max-width: 380px;
    }

    #search-input {
        max-width: 380px;
    }

    .btn-language {
        padding: 0 15px;
    }
}

@media screen and (min-width: 960px) {
    .header-right-languages:hover {
        display: block;
    }

    .header-right-languages:hover .language {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 960px) {
    .sidebar {
        display: none;
    }

    .content {
        padding: 0;
    }

    .header-left {
        display: none;
    }

    .main .container {
        justify-content: center;
        padding: 10px 10px;
    }

    .header .container {
        justify-content: center;
    }

    .content .container {
        justify-content: center;
    }

    .header {
        height: 52px;
    }

    .header-left-inner {
        display: block;
    }

    .logo {
        font-size: 20px;
        font-weight: 500;
    }

    .header-search-inner {
        height: 34px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .header-right-search {
        height: 34px;
    }

    #search-input {
        display: none;
    }

    #search-input-small {
        display: block;
        padding: 0 5px 0 5px;
    }

    .svg {
        display: none;
    }

    .btn-language {
        height: 34px;
    }

    .account {
        height: 34px;
        width: 34px;
    }

    .news-feed {
        width: 100%;
    }

    .news-feed + .news-feed {
        margin-top: 10px;
    }

    .language-active {
        opacity: 1;
        visibility: visible;
        z-index: 999;
    }
}

@media screen and (max-width: 375px) {
    .main .container {
        padding: 0 0;
        padding-top: 0;
    }

    .content {
        margin-top: 10px;
        width: 100%;
    }

    .news-feed {
        width: 100%;
        border-radius: 0px;
    }

    .news-feed + .news-feed {
        margin-top: 10px;
    }

    .account {
        display: none;
    }

    .header-down {
        display: flex;
        padding: 0 15px 10px;
        background-color: var(--gray);
        width: 100%;
    }

    .clear-fix {
        width: 50px;
        height: 15px;
        position: absolute;
        z-index: 999;
    }

    .header-right-search {
        display: none;
    }

    .language {
        margin-top: 15px;
    }


    .btn-language {
        height: 34px;
        width: auto;
        padding: 0 15px;
        touch-action: manipulation;
    }

    .header-right-languages + .header-right-languages {
        margin-left: 10px;
    }

    .language-active {
        opacity: 1;
        visibility: visible;
        z-index: 999;
    }
}